{% extends 'pwaMessenger/main.html' %}
{% block title %}{{page_title}}{% endblock title %}

{% block main %}

<!--<style>-->
<!--    /*.md-form{*/-->
<!--    /*    border-radius: 100px;*/-->
<!--    /*    background-color: whitesmoke;*/-->
<!--    /*    border: 0px!important;*/-->
<!--    /*    border-bottom: 0px!important;*/-->
<!--    /*}*/-->
<!--    .select-wrapper input.select-dropdown {-->
<!--        /*padding-left: 1em;*/-->
<!--        background-color: white;-->
<!--        border-radius: 100px;-->
<!--        border: 0px !important;-->
<!--        border-bottom: 0px !important;-->
<!--        text-align: center;-->
<!--    }-->

<!--    .picker, .select-wrapper .select-dropdown {-->
<!--        border-radius: 10px;-->
<!--        padding: 20px;-->
<!--    }-->
<!--</style>-->


<!--<div class="container">-->
<!--    <div class="row d-block">-->
<!--        <div class="col-12">-->
            <form action="{% url 'Chat:save_distribution' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" id="formGroupInput" name="content" placeholder="Сообщение для рассылки...">
                </div>

                <select class="mdb-select md-form" multiple searchable="Найти адресатов.." id="SELECT" name="search">
                    <option value="default" disabled selected>Выберите адресатов</option>
                    {% for user in users %}
                    <option value="{{user}}">{{user}}</option>
                    {% endfor %}
                </select>


                <button class="btn btn-primary" type="submit" id="button">Разослать</button>

            </form>

<!--<div class="row">-->
<!--    <div class="col-md-12">-->

<!--        <select class="mdb-select colorful-select dropdown-primary md-form" multiple searchable="Search here..">-->
<!--            <option value="" disabled selected>Choose your country</option>-->
<!--            <option value="1" selected>USA</option>-->
<!--            <option value="2" selected>Germany</option>-->
<!--            <option value="3" selected>France</option>-->
<!--            <option value="4">Poland</option>-->
<!--            <option value="5">Japan</option>-->
<!--        </select>-->
<!--        <label class="mdb-main-label">Label example</label>-->
<!--        <button class="btn-save btn btn-primary btn-sm">Save</button>-->

<!--    </div>-->
<!--</div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--<button class="btn btn-primary myBtn">-->
<!--    Get values-->
<!--</button>-->

{% endblock %}


{% block scripts %}
<!--  Адаптивный поиск  -->
<script>
    btn = $('.btn-save');
    btn.on('click', function () {
        var selectValue = $('.select-wrapper .select-dropdown.form-control').val();
        alert(selectValue);
    });
</script>

<script>
    $(document).ready(function () {
        $('.mdb-select').materialSelect();
    });
</script>

{% endblock scripts %}
