<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
<textarea id="chat-log" cols="100" rows="20"></textarea><br/>
<input id="chat-message-input" type="text" size="100"/><br/>
<input id="chat-message-submit" type="button" value="Send"/>
{{ request.user }}
{{room_name_json}}
</body>
<script>
    let roomName = {{room_name_json}};
    let cur_user = {{current_user}};


    //создаем сокет
    let chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');



    // обработка сообщений с бэкенда
    chatSocket.onmessage = function (e) {
        let data = JSON.parse(e.data);

        // let still_online = data['still_online'];
        if (data['message']) {
            var message = data['message'];
            document.querySelector('#chat-log').value += (cur_user + '--->' + message + '\n');
        }
    };

    //выхлоп
    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    // document.querySelector('#chat-message-input').focus();
    // document.querySelector('#chat-message-input').onkeyup = function (e) {
    //     if (e.keyCode === 13) {  // enter, return
    //         document.querySelector('#chat-message-submit').click();
    //     }
    
    //отправляем на бэкенд сообщение пользователя
    document.querySelector('#chat-message-submit').onclick = function (e) {
        let messageInputDom = document.querySelector('#chat-message-input');
        let message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            // 'author' : cur_user,
        }));

        messageInputDom.value = '';


    };

    function delay() {
        return new Promise(resolve => setTimeout(resolve, 5000));
    }
    //Держим сокет открытым
    async function get_page_alive() {
        while (true) {
            await delay();
            await console.log('PAGE_is_ALIVE');
        }
    }

    get_page_alive();
</script>
</html>