html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #212121;
}

/* Обязательный стиль */
@media (max-width: 767px) {
    body {
        position: fixed;
        background-color: #212121;
        color: white;
        width: 100%;
    }
}

.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.dialog {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 90%
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.input-msg {
    margin: 0;
    height: 100%;
    width: 100%;
}

.send-msg {
    margin: 0;
    height: 100%;
    width: 100%;
}

/*.input-block {*/
/*    margin: 0;*/
/*    width: 100%;*/
/*    height: 10%;*/
/*}*/
.nav-panel {
    background-color: #00070B;
    width: 100%;
    text-align: center;
    position: absolute;
    color: white;
    padding: 10px;
    z-index: 1;
}

.header {
    height: 5%;
    top: 0;
}

.main {
    position: absolute;
    top: 5%;
    bottom: 10%;
    padding: 0;
}

.footer {
    height: 10%;
    bottom: 0;
    padding: 5px;
}

/* Логин */
.logo {
    color: #3390CC;
}

.form-group label {
    color: white;
}

.form-control {
    border-radius: 25px;
}

.form-login:active,
.form-login:focus {
    border: 2px solid #3390CC;
    box-shadow: unset;
}

.btn {
    border-radius: 25px;
}

.btn-main {
    display: flex;
    justify-content: center;
    background-color: #3390CC;
    color: white;
}

.btn-main:active,
.btn-main:focus {
    transition: 0.2s;
    font-weight: 600;
    color: white;
    box-shadow: 0 0 0 0.2rem rgba(245, 0, 83, 0.5);

}

.btn-login {
    width: 60%;
    margin: auto;
}

/* Настройки */


a {
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: rgb(219, 12, 81);
}

header {
    display: flex;
    align-items: center;
    color: white;
    padding: 5px;
}

header h1 {
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    min-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.link {
    color: #3390CC;
}

.settings {
    width: 100%;
    font-size: 15px;

}

.nav-link {
    color: #8a8a8a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.nav-link-active {
    color: #3390CC;
}

/* User management */
.form-search {
    background-color: black;
    border-color: black;
}

.form-search:active,
.form-search:focus {
    background-color: black;
    border: 2px solid #3390CC;
    box-shadow: unset;
}

.search-icon {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    white-space: nowrap;
    background-color: black;
    border: 1px solid black;
    border-radius: 0 25px 25px 0;
}

.user {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Сообщения */
.bubble {
    display: inline-block;
    position: relative;
}

.bubble > span {
    color: white;
    font-size: 24px;
    border-radius: 0.4em;
    display: inline-block;
    padding: 10px;
    z-index: 1;
}

.bubble::after {
    background-color: #212121;
    border-radius: 0 0 50% 0;
    border-right: 0;
    bottom: 14px;
    content: '';
    height: 30px;
    margin-top: -5px;
    margin-right: -5px;
    position: absolute;
    transform: rotate(10deg);
    width: 30px;
    z-index: -1;
}

.bubble::before {
    border-radius: 50%;
    border-right: 0;
    bottom: 7px;
    content: '';
    height: 30px;
    margin-top: -5px;
    margin-right: -5px;
    position: absolute;
    transform: rotate(20deg);
    width: 30px;
    z-index: -1;
}


.bubble-question > span {
    background-color: #a5a5a5;
    color: #212121;
}

.bubble-question::after {
    left: -21px;
}

.bubble-question::before {
    background-color: #a5a5a5;
    left: -11px;
}

.bubble-answer > span {
    background-color: #3390CC;
    color: #212121;
}

.bubble-answer::after {
    right: -21px;
}

.bubble-answer::before {
    background-color: #3390CC;
    right: -11px;
}

/* /Сообщения */

.contact {
    background-color: rgba(113, 110, 113, 0.24);
    border: black solid 1px;
}

.personal_settings {
    color: white !important;
}

.user_image {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    border: white solid 1px;
}