{% extends 'accounts/main.html' %}
{% block title %}edit_user_login{% endblock title %}
{% block body %}


<form method='POST' action="{% url 'accounts:edit_user_login' %}">
    {% csrf_token %}
    {{form.old_username}}

    {% if form.username.errors %} {% endif %}

    {{ form.username }}
    {% if form.username.errors %}
    {{ form.username.errors }}
    {% endif %}

    {{ form.password }}
    {% if form.password.errors %}
    {{ form.password.errors }}
    {% endif %}

    <button type="submit">Save</button>
</form>

{% endblock body %}