{% extends 'pwaMessenger/main.html' %}
{% block title %}{{page_title}}{% endblock title %}
{% block main %}


<div class="row px-4 personal_settings">
    <div class="col-12 p-3 mt-5">
        <h5>Логин = {{ current_user.user }}</h5>
    </div>
    <div class="col p-3 mt-5 d-flex align-items-center">
        {% if current_user.user.first_name or current_user.user.last_name %}
        <h5>{{ current_user.user.first_name }} {{ current_user.user.last_name }}</h5>
        {% else %}
        <h5>Имя Фамилия</h5>
        {% endif %}
    </div>
    <div class="col-3 p-3 mt-5">
        <a href="{% url 'accounts:edit_user_img' %}"><img class="user_image" src="/media/{{ current_user.photo }}"
                                                          alt=""/></a>
    </div>
    <div class="col-12 p-3">
        <a href="{% url 'accounts:edit_user_names' %}" class="btn btn-main">Изменить</a>
    </div>

</div>
{% endblock %}