{% extends 'pwaMessenger/main.html' %}
{% block title %}{{page_title}}{% endblock title %}
{% block main %}

<div class="row h-100 px-4">
    <div class="col-12 p-2 scroll">
        {% for user in users %}
        <div class="col-12 p-3 d-flex justify-content-between">
            {% if user.first_name != '' and user.last_name != ''%}
            <p class="user">{{ user.first_name}} {{ user.last_name}}</p>
            {% else %}
            <p class="user">{{ user}}</p>
            {% endif %}
            <a href="{% url 'accounts:delete_user' user.id %}" class="btn btn-main">Удалить</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}